
@model webviewer.Models.SearchParameters

<form asp-controller="Home"  asp-action="Result" method="post">
    
    @Html.Raw(ViewData["headerString"])
    <div id="paramContainer">        
        @Html.Raw(ViewData["bodyString"])        
    </div>
    @Html.Raw(ViewData["footerString"])
</form>
