
@model webviewer.Models.SearchParameters

@{
    Layout = null;
}

<form asp-controller="Home"  asp-action="Result" method="post">
    
    <div id="paramContainer">
        
        @Html.Raw(ViewData["paramsString"])
        
    </div>


</form>
