
@model webviewer.Models.SearchParameters



<div id="resultContainer">    
    @Html.Raw(ViewData["headerString"])
    <p>Search Results:</p> 
    @Html.Raw(ViewData["resultString"])  
    <br/>
    @Html.Raw(ViewData["footerString"])
</div>
