html, body {    
    height: 100vh;
    min-height: 100vh !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    height: 100vh;
    min-height: 100vh;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 380px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#divFooter {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100vw;
    background-color: silver;
 }

 #divHeader {
    position:fixed;
    display: flex;
    left:0px;
    top:0px;
    height:100px;
    width:100vw !important;    
 }

 #divMain {
    position:fixed;    
    left:20px;
    top:100px;
    width:100vw;
 }

 #divResults {
    position:fixed;    
    left:20px;
    top:100px;
    width:100vw;
 }
